.element {
    border-radius: 10px;
    max-width: 282px;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}