.popup__input {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 14px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0px 36px 0px;
    padding: 0px 0px 13px;
}
.popup__input::placeholder {
    color: #000000;
    opacity: 0.2;
}
@media screen and (max-width: 767px) {
    .popup__input {
        margin: 0px 22px 0px;
    }
}