.profile__avatar-overlay {
    max-width: 120px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    border-radius: 50%;
    padding: 0;
    display: grid;
    grid-area: avatar;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;    
}
.profile__avatar-overlay::before {
    content: '';
    background-image: url(../../../images/Pencil.svg);
    background-color: rgba(0, 0, 0, .8);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}
@media screen and (max-width: 1024px) {
    .profile__avatar-overlay {
        justify-self: center;
    }
}
@media (hover: hover) and (pointer: fine) {
    .profile__avatar-overlay:hover:before {
        opacity: 1;
        cursor: pointer;
        transition: opacity 0.4s linear;
    }
}